PORT=4000
MONGO_URI=mongodb+srv://shalinisri249_db_user:Shalini29@cluster0.pb0emod.mongodb.net/?appName=Cluster0
SESSION_SECRET=0o5OsLyi4tIDkYKtpG3E/I7ISL4dQV/tlqrQUzN6KIvhQ61767rc2Gn8IO7tVIfb
FRONTEND_ORIGIN=http://localhost:5173
NODE_ENV=development
